<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.kexie.android.dng.media">
    <application>
        <activity
            android:theme="@style/VideoTheme"
            android:process=":videoplayer"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:name=".view.VideoPlayerHolderActivity">
        </activity>
    </application>
</manifest>
