<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.kexie.android.dng.navi">

    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <service
            android:name="com.amap.api.location.APSService"
            android:exported="false"/>
        <service
            android:name=".NetworkMonitoringService"
            android:enabled="true"
            android:exported="false"/>

        <!-- <service -->
        <!-- android:process=":navi" -->
        <!-- android:exported="false" -->
        <!-- android:name="com.amap.api.location.APSService"/> -->
        <!-- <activity -->
        <!-- android:screenOrientation="landscape" -->
        <!-- android:name=".view.RouteQueryFragment" -->
        <!-- android:process=":navi"/> -->
    </application>

</manifest>